
<main ng-init="model = {}">   
  
  <ui-tree-select model="model" theme="bootstrap" selecturl="{{url}}">
  </ui-tree-select>
  {{ model=a}}
  <button ng-click="d()">赋值</button>
  <!-- 此处为template，使用时请复制  -->
  <script type="text/ng-template" id="/ui-tree-select.html">   
    <ui-select
      ng-model="model.$selected"
      ui-select-focuser
      theme="selectize">
      <ui-select-match placeholder="Select a group">
        {{ $select.selected.title }}
      </ui-select-match>

      <ui-select-choices repeat="group in groups | filter: $select.search">
        <div>
          <span ng-bind-html="group.title |  myfilter:'html'"></span>
          <span ng-bind-html="'('+group.size+' users)' | myfilter:'html'"></span>
          <a href
            ng-show="group.parent"
            class="goto-child-group"
            ng-click="loadChildGroupsOf(group, $select)">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </ui-select-choices>
    </ui-select>
  </script>
</main> 