<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>这个是当前页的标题</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">这里是主页</a>
			</li>
			<li>
				<a>这里是一级菜单名</a>
			</li>
			<li class="active">
				<strong>这里是二级菜单名</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
		<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
	</div>
</div>
<!-- 以上部分为标准头部 -->
<div class="wrapper wrapper-content fadeInRight">
	<div class="row">
		<div class="col-md-3 over-w-h h-500">
			<div class="white-bg treecontrol">
				<h4 class="tree-title">组织结构树</h4>
				<treecontrol class="tree-light" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node,selected)" selected-node="node1" expanded-node-id="expandedNodeId">
					{{node.name}}
				</treecontrol>
			</div>			
		</div>
		<div class="col-md-9 bg-w tree-table">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<!-- 按钮区域 -->
					<div class="top-dock row">
						<!-- 高级搜索start -->
						<div class="advanced-search" ng-class="{true:'active',false:''}[Searchshow]">
							<form method="get" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-1 control-label">搜索内容</label>
									<div class="col-sm-5">
										<input type="text" ng-model="standardForm.bigInput"
											class="form-control input-sm">
									</div>
									<label class="col-sm-1 control-label">发布时间</label>
									<div class="col-sm-5">
										<input date-range-picker class="form-control date-picker input-sm"
											type="text" ng-model="datePicker.date" />
									</div>
									<!--<div class="col-sm-10 col-sm-offset-2">
										<button class="btn btn-sm btn-primary btn-search">搜索</button>
										<button class="btn btn-sm btn-primary btn-search">清空</button>
										<a class="cut-search pull-right" ng-click="Searchshow=!Searchshow">普通搜索</a>
									</div>-->
								</div>
							</form>

								<div class="operation col-sm-11 col-sm-offset-1">
									<button class="btn btn-sm btn-primary btn-search">搜索</button>
									<button class="btn btn-sm btn-default btn-search">清空</button>
									<span class="btn btn-primary pull-right btn-sm add">
										<span class="glyphicon glyphicon-plus"></span>新增
									</span>
									<a class="cut-search pull-right" ng-click="Searchshow=!Searchshow">普通搜索</a>
								</div>
						</div>
						<!-- 高级搜索end -->
						<!-- 左侧按钮操作区域 start-->
						<div class="form-inline search" ng-show="!Searchshow">
							<select name="" id="" class="form-control input-sm"
								ng-model="searchCriteria">
								<option value="1">搜索条件1</option>
								<option value="2">搜索条件2</option>
								<option value="3">搜索条件3</option>
								<option value="4">搜索条件4</option>
								<option value="5">搜索条件5</option>
								<option value="6">搜索条件6</option>
							</select>
							<!-- -->
							<input type="text" class="form-control input-sm"
								ng-show="searchCriteria==1"> <select name="" id=""
								class="form-control input-sm" ng-show="searchCriteria==2">
								<option value="1">查询条件1</option>
								<option value="2">查询条件2</option>
								<option value="3">查询条件3</option>
							</select>
							<!-- 菜单下拉  end-->
							<button ng-click="console()" class="btn btn-sm btn-primary btn-search">搜索</button>
							<span class="btn btn-primary pull-right btn-sm add">
								<span class="glyphicon glyphicon-plus"></span>新增
							</span>
							<a class="cut-search pull-right" ng-click="Searchshow=!Searchshow">高级搜索</a>
							
						</div>
						<!-- 左侧按钮操作区域 end-->

						<!-- 右侧查询条件操作区域 start-->
						
						<!-- 右侧查询条件操作区域 end-->
						
						<!-- 主列表区域 start-->
						<div class="" tasty-table bind-resource-callback="dataGrid">
							<table
								class="table table-gui table-chk table-striped table-hover table-bordered">
								<thead common thead-fixed id="theae">
									<tr>
										<!--请注意，此处使用时为避免表格表现与预期不符，请在每个th上使用类名表明需要几个字不换行，目前有font_2-font_11类名请使用时注意添加-->
										<th class="font-1"></th>
										<th class="font-6">课程名称</th>
										<th class="font-4">时长</th>
										<th class="font-3">学时</th>
										<th class="font-4">状态</th>
										<th class="font-3">启用</th>
										<th class="font-2">年份</th>
										<th class="font-5">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td class="text-left" title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a class="" href="#" >{{dataRows[0].courseName | strCut:13}}</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot class="tfoot">
									<tr>
										<td class="check text-center">
											<input type="checkbox" style="margin-top: 13px;"/>
										</td>
										<td class="Ribbon" colspan="7" class="text-right">			
											<div id="Ribbon" class="pull-left btn-group btn-group-sm">
												
												<div class="btn-group manage btn-group-sm dropup">
													  <button type="button" class="btn btn-default ">
													  	<i title="编辑" class="glyphicon glyphicon-edit"></i>
													  	编辑
													  </button>
													  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													    <span class="caret"></span>
													    <span class="sr-only"></span>
													  </button>
													  <ul class="dropdown-menu dropdown-menu-right">
													    <li><a>查看</a></li>
													    <li><a>编辑</a></li>
													    <li><a>删除</a></li>
													  </ul>
												</div>
											</div>
											<div  tasty-pagination template-url="../common/angularjs/gtiles_paginatione.html"></div><!-- 翻页标签 -->
										</td>
									</tr>
								</tfoot>
							</table>
								<!--<p class="text-center" title="当前列表为空"><span title="提示" class="glyphicon glyphicon-exclamation-sign"></span>
									当前列表为空，请<a href="">新增一条</a>
								</p>-->
						</div>
						<!-- 主列表区域 end-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="md-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">这里是摸态框的标题</h4>
      </div>
      <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10"><input type="text" ng-model="organizationName" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10"><input type="text" ng-model="organizationID" class="form-control"></div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
	   	     <button type="button" class="btn btn-primary" ng-click="addRoot()">保存</button>
       		 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<!-- 小摸态框 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="rem-Model">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
		   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		   <h4 class="modal-title" id="myModalLabel">这里是摸态框的标题</h4>
	   </div>
	   <div class="modal-body">
	        <p >{{remMessage}}</p>
	   </div>
	   <div class="modal-footer">
	   	     <button type="button" class="btn btn-primary" ng-click="remRoot()" ng-if="remStart==1">确定</button>
       		 <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
       </div>
    </div>
  </div>
</div>