<!-- Wrapper-->
<div id="wrapper">


    <div ng-include="'views/common/topnavbar.html'"></div>
    <div ng-include="'views/common/header.html'"></div>
	

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
	    <!-- Navigation -->
	    <div ng-include="'views/common/navigation.html'"></div>
		
        <!-- Page wrapper -->

        <!-- Main view  -->
        <div ui-view id="MainView"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <!--<div ng-include="'../views/common/right_sidebar.html'"></div>-->
	<!-- Footer -->
    <div ng-include="'../views/common/footer.html'"></div>
</div>
<!-- End wrapper-->