<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<div class="nav"><span minimaliza-sidebar></span><a class="navTilte pull-left"><span class="glyphicon glyphicon-cog titleIcon"></span>{{main.navTitle}}</a></div>
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li ng-class="{active: $state.includes('frontendtemplate')}" class="">
				<ul class="nav nav-second-level collapse in" ng-if="main.navStart == 1">
					<p class="nav-group-title">
						<a>基础设置</a>
					</p>
					<li ui-sref-active="active">
						<a ui-sref="frontendtemplate.formValidation" href="/frontendtemplateformValidation/"><i class="glyphicon glyphicon-cog"></i>表单</a>
					</li>

					<li ui-sref-active="active">
						<a ui-sref="frontendtemplate.StandardList" href="/frontendtemplateStandardList/"><i class="glyphicon glyphicon-cog"></i>标准列表</a>
					</li>

					<li ui-sref-active="active">
						<a ui-sref="frontendtemplate.uploading" href="/frontendtemplateuploading/"><i class="glyphicon glyphicon-cog"></i>上传</a>
					</li>
					<p class="nav-group-title">
						<a>推荐设置</a>
					</p>
					<li ui-sref-active="active">
						<a ui-sref="frontendtemplate.treemenutable" href="/frontendtemplatetreemenutable/"><i class="glyphicon glyphicon-cog"></i>树+列表</a>
					</li>

					<li ui-sref-active="active" >
						<a ui-sref="frontendtemplate.check" href="/frontendtemplatecheck/"><i class="glyphicon glyphicon-cog"></i>考勤</a>
					</li>

					<li ui-sref-active="active" >
						<a ui-sref="frontendtemplate.model" href="/frontendtemplatemodel/"><i class="glyphicon glyphicon-cog"></i>勾选摸态框</a>
					</li>

					<li ui-sref-active="active">
						<a ui-sref="frontendtemplate.basiciinformation" href="/frontendtemplatebasiciinformation/"><i class="glyphicon glyphicon-cog"></i>基础信息维护</a>
					</li>

					<li ui-sref-active="active" >
						<a ui-sref="frontendtemplate.signin" href="/signin"><i class="glyphicon glyphicon-cog"></i>签到model</a>
					</li>

					<li ui-sref-active="active" >
						<a ui-sref="frontendtemplate.statistics" href=""><i class="glyphicon glyphicon-cog"></i>数据统计</a>
					</li>

					<li ui-sref-active="active" >
						<a ui-sref="login" href=""><i class="glyphicon glyphicon-cog"></i>登录</a>
					</li>
					
				</ul>



				<ul class="nav nav-second-level collapse in" ng-if="main.navStart == 2">
					<li ui-sref-active="active">
						<a ui-sref="systemdemo.modeltbale" href="/systemdemomodeltbale/"><i class="glyphicon glyphicon-cog"></i>model表格类</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="systemdemo.modelform" href="/systemdemomodelform/"><i class="glyphicon glyphicon-cog"></i>model表单类</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="systemdemo.modificationmenu" href="/modificationmenu/"><i class="glyphicon glyphicon-cog"></i>菜单调整</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="systemdemo.imgcrop" href="/imgcrop/"><i class="glyphicon glyphicon-cog"></i>图片裁剪</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="systemdemo.statistics" href="/statistics/"><i class="glyphicon glyphicon-cog"></i>考核统计</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>