<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>这个是当前页的标题</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">这里是主页</a>
            </li>
            <li>
                <a>这里是一级菜单名</a>
            </li>
            <li class="active">
                <strong>这里是二级菜单名{{abc | Yannis}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
	<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
	            	<div class="ibox float-e-margins">
	                	<div class="ibox-content">
	                    	<form method="post" class="form-horizontal" name="myForm">
		                        <div class="form-group">
		                        	<label class="col-sm-2" for="input1">资料名称：</label>
		                        	<div class="col-sm-9">
		                            	<input class="form-control input-sm" type="text" id="input1" placeholder="请输入文件名称">
		                            	<p class="error text-danger"></p>
		                        	</div>
		                        	<label class="col-sm-2" for="input1">上传状态：</label>
		                        	<div class="col-sm-9">
		                            	<input class="form-control input-sm" type="text" id="input1" value="已上传" ng-disabled="true">
		                            	<p class="error text-danger"></p>
		                        	</div>
		                        	<label class="col-sm-2">文件名称：</label>
		                            <label class="col-sm-6 text-left">{{file.name}}</label>          
		                            <label class="col-sm-3 text-right">
		                            	<a class="text-info" ngf-select ng-model="file" name="file"  ngf-max-size="20MB" >选择文件</a>
		                            	<a class="btn btn-sm uploadfile" ng-click="uploadfilie(file)" ng-class="{true:'btn-success',false:'btn-default'}[!!file.name]" ng-disabled="!file.name" >上传</a>
		                            </label>
		                        </div>                  
		                       	<!-- 进度条-->
		                        <div class="form-group">
		                          	<div class="col-sm-12">
										<div class="progress " ng-class="q?'progress-bar-striped active':'' "><!-- progress-bar-striped active 这俩个类名用于使进度条滚动起来 -->
									  		<div class="progress-bar progress-bar-info " role="progressbar"  ng-style="barstyle"></div>
										</div>
		                        	</div>
		                        </div>	
		                        <!-- 进度说明 -->
		                        <div class="form-group">
		                          	<div class="col-sm-4">
			                          	<ul class="list-group w-100">
			                          	<li class="list-group-item list-group-item-success w-100">
										  正在转存至服务器
										  <span class="glyphicon glyphicon-ok pull-right font-22"></span><!-- 这个span是对勾 -->
										  </li>
										</ul>
		                        	</div>
		                        	<div class="col-sm-4">
			                          	<ul class="list-group ">
										  <li class="list-group-item list-group-item-info w-100">
										  正在解压 </span>
										  
										  	<div class="sk-spinner sk-spinner-cube-grid pull-right">
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                            <div class="sk-cube"></div>
					                        </div>
					                        <!-- 此处最好使用ng-if 控制 避免性能问题 -->
										  </li>
										</ul>
		                        	</div>
		                        	<div class="col-sm-4">
			                          	<ul class="list-group w-100">
										  <li class="list-group-item list-group-item-danger w-100">
										  正在转存至服务器
										  <span class="glyphicon glyphicon-remove pull-right font-22"></span><!-- 这个span是叉 -->
										  </li>
										</ul>
		                        	</div>
		                        </div>		                		 
	                     	</form>
	                    </div>
	               	</div>       
                </div>
            </div>
        </div>
    </div>
</div>