<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>标准列表</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">主页</a></li>
			<li class="active"><a>课程列表</a></li>
		</ol>
	</div>
	<div class="col-lg-2">
		<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<!-- 按钮区域 -->
					<div class="top-dock row">
						<!-- 左侧按钮操作区域 start-->
						<div class="btn-group btn-group-sm">
							<span class="btn btn-default">
								<span class="glyphicon glyphicon-plus"></span>新增
							</span>
							<span class="btn btn-default "> <span
								class="glyphicon glyphicon-trash"></span> 删除
							</span>
							<!-- 普通按钮示例 end -->
							<!-- 按钮式下拉start -->
							<div class="btn-group btn-group-sm" role="group">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="glyphicon glyphicon-cog"></span> 启用/作废 
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">启用</a></li>
									<li><a href="#">作废</a></li>
								</ul>
							</div>
							<!-- 按钮式下拉 end -->

						</div>
						<!-- 左侧按钮操作区域 end-->

						<!-- 右侧查询条件操作区域 start-->
						<div class="form-inline pull-right">
							<select name="" id="" class="form-control input-sm"
								ng-model="searchCriteria">
								<option value="1">搜索条件1</option>
								<option value="2">搜索条件2</option>
								<option value="3">搜索条件3</option>
								<option value="4">搜索条件4</option>
								<option value="5">搜索条件5</option>
								<option value="6">搜索条件6</option>
							</select>
							<!-- -->
							<input type="text" class="form-control input-sm"
								ng-show="searchCriteria==1"> <select name="" id=""
								class="form-control input-sm" ng-show="searchCriteria==2">
								<option value="1">查询条件1</option>
								<option value="2">查询条件2</option>
								<option value="3">查询条件3</option>
							</select>
							<!-- 时间范围插件 start-->
							<input date-range-picker class="form-control date-picker"
								type="text" ng-show="searchCriteria==3"
								ng-model="datePicker.date" />
							<!-- 时间范围插件 end-->

							<!-- 单个时间围插件 start-->
							<div class="form-group" ng-show="searchCriteria==4">
								<div ng-model='timepickerTest' ng-time
									class="input-group date form_datetime col-md-1"
									data-date="2015-09-16T05:25:07Z"
									data-date-format="dd MM yyyy - HH:ii p"
									data-link-field="dtp_input1">
									<input ng-model="test" class="form-control" size="16"
										type="text" value="" readonly> <span
										class="input-group-addon"><span
										class="glyphicon glyphicon-remove"></span></span> <span
										class="input-group-addon"><span
										class="glyphicon glyphicon-th"></span></span>
								</div>

								<input type="hidden" id="dtp_input1" value="" /><br />
							</div>
							<!-- 树形下拉 start-->
							<select-tree ng-show="searchCriteria==5"
								tree-data="dataForTheTree"
								select-tree-options="selectTreeOptions"
								search-criteria="searchCriteria"
								selected-tree-node="selectedTreeNode" show-direction="'top'"
								on-select="onSelect()"> </select-tree>
							<!-- 树形下拉  end-->

							<!-- 菜单下拉 start-->
							<div class="form-group manage" ng-show="searchCriteria==6"
								id="switcher" style="position: relative">
								<a data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"><i class="glyphicon glyphicon-random"
									ng-click=""></i>切换权限</a>
								<ul class="dropdown-menu">
									<li><a>Action</a></li>
									<li><a>Another action</a></li>
									<li><a>Something else here</a></li>
									<li></li>
									<li><a>Separated link</a></li>
								</ul>
							</div>
							<!-- 菜单下拉  end-->
							<button ng-click="console()"
								class="btn btn-sm btn-primary btn-search">搜索</button>
							<button class="btn btn-sm btn-primary btn-search"
								ng-click="Searchshow=!Searchshow">高级搜索</button>

						</div>
						<!-- 右侧查询条件操作区域 end-->
						<div class="advanced-search"
							ng-class="{true:'active',false:''}[Searchshow]">
							<form method="get" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">请输入搜索内容</label>
									<div class="col-sm-4">
										<input type="text" ng-model="standardForm.bigInput"
											class="form-control">
									</div>
									<label class="col-sm-2 control-label">发布时间</label>
									<div class="col-sm-4">
										<input date-range-picker class="form-control date-picker"
											type="text" ng-model="datePicker.date" />
									</div>
								</div>
							</form>
							<div class="operation">
								<button class="btn btn-sm btn-primary btn-search">搜索</button>
								<button class="btn btn-sm btn-primary btn-search">清空</button>
							</div>
						</div>
						<!-- 主列表区域 start-->
						<div class="table-responsive" tasty-table bind-resource-callback="dataGrid">
							<table
								class="table table-gui table-chk  table-striped table-hover table-bordered">
								<thead table-head>
									<tr>
										<!--请注意，此处使用时为避免表格表现与预期不符，请在每个th上使用类名表明需要几个字不换行，目前有font_2-font_11类名
								请使用时注意添加-->
										<th><input type="checkbox"/></th>
										<th class="font-10">课程名称</th>
										<th class="font-4">时长</th>
										<th class="font-3">学时</th>
										<th class="font-4">状态</th>
										<th class="font-3">启用</th>
										<th class="font-2">年份</th>
										<th class="font-5">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input type="checkbox"/></td>
										<td title="疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式">
											<a href="#">疯狂烧钱的教育O2O陷入窘境 破局之路在于后端驱动的B2C模式疯狂烧钱的...</a></td>
										<td>44分钟</td>
										<td>50</td>
										<td>已发布</td>
										<td>是</td>
										<td>2017</td>
										<td class="text-center">
											<div class="btn-group manage">
												<a href="#" title="编辑" class="glyphicon glyphicon-edit"></a>
												<a href="#" title="删除" class="glyphicon glyphicon-trash"></a>
												<a href="#" title="启用" class="glyphicon glyphicon-ok-circle"></a>
												<a title="更多" class="dropdown-toggle" data-toggle="dropdown">
                       								<span class="glyphicon glyphicon-cog"></span>
                       								<span class="caret"></span>
                        						</a>
                        						<ul class="dropdown-menu dropdown-menu-right">
							                        <li><a class="glyphicon glyphicon-edit">编辑</a></li>
							                        <li><a class="glyphicon glyphicon-trash">删除</a></li>
							                        <li><a class="glyphicon glyphicon-ok-circle">启用</a></li>
                        						</ul>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="8" class="text-right">
											<div tasty-pagination template-url="../common/angularjs/gtiles_paginatione.html"></div>
											<!-- 翻页标签 --></td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div>
							<span title="新增" class="glyphicon glyphicon-plus"><a>新增</a></span>
							<span title="编辑" class="glyphicon glyphicon-edit"><a>编辑</a></span>
							<span title="删除" class="glyphicon glyphicon-trash"><a>删除</a></span>
							<span title="启用" class="glyphicon glyphicon-ok-circle"><a>启用</a></span>
							<span title="作废" class="glyphicon glyphicon-remove-circle"><a>作废</a></span>
							<span title="上传" class="glyphicon glyphicon-cloud-upload"><a>上传</a></span>
							<span title="下载" class="glyphicon glyphicon-cloud-download"><a>下载</a></span>
							<span title="留言" class="glyphicon glyphicon-envelope"><a>留言</a></span>
							<span title="标记" class="glyphicon glyphicon-flag"><a>标记</a></span>
							<span title="作业" class="glyphicon glyphicon-file"><a>作业</a></span>
							<span title="用户" class="glyphicon glyphicon-user"><a>用户</a></span>
							<span title="日历" class="glyphicon glyphicon-calendar"><a>日历</a></span>
							<span title="复制" class="glyphicon glyphicon-duplicate"><a>复制</a></span>
						</div>
						<!-- 主列表区域 end-->
						<code>
							<b>主要规则如下：</b><br>
							<b>1、最上方显示“功能名称”</b><br>
							<b>2、第二行显示面包屑导航，分为“首页”、“功能列表”、“具体列表项”，例如：首页/课程列表/说营销-定位</b><br>
							<b>3、中间列表区域，列表上方居左为全局操作按钮组，居右为查询功能区</b><br>
							<b>4、点击高级查询，在列表上方出现高级查询区域</b><br>
							<b>5、列表表头，尽量精简列表表头内容，例如：该功能为课程管理功能，在列表头中就不需要显示什么课程时长、课程状态，直接"时长"、"状态"</b><br>
							<b>6、列表表头不允许折行，如果列较多，和需求商定再行处理</b><br>
							<b>7、列表表头，需要包含表头排序的默认功能。</b><br>
							<b>8、对于操作列，统一使用图片代替，图标统一使用系统已经定义过的图标，禁止自行选定</b><br>
							<b>9、对于标题、名称类字段，根据实际需求内容省略，使用...，title实现全部内容即可</b><br>
							<b>10、列表下方，左侧为功能区，右侧为翻页条</b><br>
							<b>11、列表表头要固定定位在浏览器头部，翻页条要固定定位在浏览器底部</b><br>
						</code>
						<p>
						<h3>
							该模板支持以下功能及使用说明
							<h3>
								<br />
								<p>1.列表左上
									自定义按钮及按钮个数，支持普通按钮及下拉菜单式按钮，使用时增加或删除普通按钮直接复制span标签即可，按钮式下拉复制对应div标签</p>
								<p>2.支持自定义打开三种大小的摸态框及三种打开打开方式，具体实现方式查看上面代码示例</p>
								<p>3.列表右上
									支持自定义查询条件，支持多种查询条件切换，具体实现方式为select选择查询方式，通过ng-model将选中的value绑定到$scope上，下面通过对$scope值的判断，通过ng-show控制相应查询框显示</p>
								<p>4.列表使用时，需要在th上使用类名表明需要几个字不换行，目前有font_2-font_11类名，每一个类名对应一个min-width</p>
								<p>5.当表格中文字过多需要隐藏藏是，请在table标签中加入fixed类名，并在对应需要隐藏的元素中加入text-ellipsis</p>
								<h3 style="color: red;">bug和缺陷</h3>
								<p>1.翻页需要置底，在界面上翻页不随数据列表移动</p>
								</p>
					</div>
				</div>
			</div>
		</div>
	</div></div>