#login{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -193px;
}
.login-bg{
	background: #0571BE;
	height: 100%;
}
.loginscreen{
	width: 100%;
}
.Main-view{
	height: 100%;
}
#login .row{
	height: 100%;
}
.login{
    width: 350px;
	background: #FFFFFF;
	padding: 40px 60px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
}
.login h1{
	margin-top: 0;
	margin-bottom: 36px;
	font-size: 24px;
	color: #333;
	font-weight: 500;
}
.login .Captcha{
	height: 34px;
}
.login .col-md-7{
	padding: 0;
}
.login .col-md-5{
	padding: 0;
	text-align: center;
}
.login .col-md-5 img{
	padding-left: 15px;
}
.logo-img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 106px;
    height: 36px;
}
button.btn-primary{
	background: #0571BE;
}
button.btn-primary:hover, button.btn-primary:focus, button.btn-primary:active, button.btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus{
	background: #0571BE
}
.form-control:focus, .single-line:focus {
    border-color: #0571BE !important;
}
.login-bg>img{
	padding-right: 23px;
	padding-top: 35px;
}
