<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>这个是当前页的标题</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">主页</a>
			</li>
			<li>
				<a>树</a>
			</li>
			<li class="active">
				<strong>树组件示例</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
		<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div jcrop option="option"></div>
					<div class="row">
						<div class="col-sm-2 ">
	                    	<div ngf-model-invalid="errorFile"
	                    		 ngf-model-invalid ="invalidFile(error)" 
	                    		 class="btn btn-primary"  ngf-select ng-model="file" name="file"  ngf-max-size="20MB" >选择文件</div>
	                    </div>
	                    <div class="col-sm-2">
	                    	<button class="btn btn-success" type="submit" ng-click="uploadfilie(file)" ng-disabled="!file.name">确认上传	</button>
	                    </div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<pre>
				            	<h3 class="text-danger">下拉选树型控件使用说明</h3>
				            	<p>一、使用前准备</p>
				            	<p>1.时间范围选择需要依赖ngimgJcrops模块，且需要加入以下js文件：tree-control-attribute.css,tree-control.css,angular-tree-control.js,select.js</p>
				            	<p>html中使用标签引入：

				            	</p>
				            	<p>二、使用</p>
								<p>1.设置tree-data，值为树的数据源。详情查看ctrl中数据示例</p>
								<p>2.设置select-tree-options，定义了树控件的配置项，具体请看<a href="https://github.com/wix/angular-tree-control">git-tree</a></p>
								<p>3.设置on-selection属性，值为树被选中时触发该方法</p>
								<p>4.设置selected-tree-node，对象，值为变量,树中选中的节点对象</p>
								<p>5.设置show-direction属性，值为"top"或"bottom"，树菜单在输入框的上或下</p>
								<p>6.设置show-lable属性，值为要显示在树上key</p>
				            </pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>