<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>这个是当前页的标题</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">这里是主页</a>
            </li>
            <li>
                <a>这里是一级菜单名</a>
            </li>
            <li class="active">
                <strong>这里是二级菜单名</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
	<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>这里是此内容的小标题
                        <small>关于小标题的描述</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                    	<div class="col-lg-12">
							<div class="ibox float-e-margins" >
				            	<div class="ibox-content">
				            		<!-- 按钮区域 -->
				            	   <div class="top-dock row">
										<div class="btn-group btn-group-sm">
											<span class="btn btn-default" ng-click="preUpdateResource('')">
												<span class="glyphicon glyphicon-plus"></span>
												新增资源
											</span>
											<span class="btn btn-default ">
												<span class="glyphicon glyphicon-trash"></span>
												删除资源
											</span>
										</div>
										<div class="form-inline pull-right">
											<select name="" id="" class="form-control input-sm" style="width: 110px;">
												<option value="1">实例名称</option>
											</select> 
											<label >资源标题&nbsp;&nbsp;</label>
											<input type="text" class="form-control input-sm" style="width: 150px;" ng-model="resourceTitle">
											<button class="btn btn-sm btn-primary" style="margin-bottom: 0px;margin-right:14px" ng-click='doQuery()'>搜索</button>
										</div>
									</div>							
				                			<!-- 列表区域 -->
								<div class="table-responsive" tasty-table bind-resource-callback="getResource" bind-init="init"  bind-theme="initTastyTheme" bind-reload="reloadCallback" bind-filters="filterBy">
				                	<table class="table table-gui table-chk  table-striped table-hover table-bordered" >
										<thead>
											<tr class="" >
												<!--请注意，此处使用时为避免表格表现与预期不符，请在每个th上使用类名表明需要几个字不换行，目前有font_2-font_11类名
												请使用时注意添加-->
												<th><input type="checkbox" ng-model="master" ng-click="all(master,rows)" /></th>
												<th>资源ID</th>
												<th>资源标题</th>
												<th>资源类型</th>
												<th>文件大小(Kb)</th>
												<th>资源格式</th>
												<th>激活状态</th>
												<th>发布状态</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="row in rows">
												<td><input id={{row.resourceId}} type="checkbox"  ng-model="x" ng-checked="master" ng-click="chk(row.resourceId,x)"></td>
												<td class="text-ellipsis">
													<p class="small mb0">{{row.resourceId}}</p>
												</td>
												<td class="text-ellipsis">
													<p class="small mb0">{{row.resourceTitle}}<a ng-show="{{row.childList.length > 0}}" ng-click="toChildrenList(row.resourceId)" title="共有{{row.childList.length}}个子资源"><span class="badge">{{row.childList.length}}</span></a></p>
												</td>
												<td class="text-center">
													<p class="small mb0" >{{row.resourceType=='1'?'视频':''}}{{row.resourceType=='2'?'音频':''}}</p>
												</td>
												<td class="text-center">
													<p class="small mb0" >{{row.fileSize}}</p>
												</td>
												<td>
													<p class="small mb0" >{{row.resourceFormat}}</p>
												</td>
												<td>
													<p class="small mb0" >{{row.activeState=='1'?'激活':''}}{{row.activeState=='2'?'未激活':''}}</p>
												</td>
												<td>
													<p class="small mb0" >{{row.publishState=='1'?'已发布':''}}{{row.publishState=='2'?'未发布':''}}{{row.publishState=='3'?'草稿':''}}</p>
												</td>
												<td class="text-center">
													<div class="btn-group" >
													  <button type="button" class="btn btn-default ">管理</button>
													  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
													    <span class="caret"></span>
													    <span class="sr-only">Toggle Dropdown</span>
													  </button>
													  <ul class="dropdown-menu dropdown-menu-right">
													    <li ><a ng-click="toPreviewDetail(row.resourceId, row.resourceType)">查看</a></li>
													    <li ><a ng-click="preUpdateResource(row.resourceId)">编辑</a></li>
													    <li><a confirm="确定删除该资源吗?" confirm-ok="确定" confirm-cancel="取消" confirm-title="温馨提示" ng-click="delAllResource(row.resourceId)">删除</a></li>
													    <li><a ng-click="playVideoResource(row.resourceId)" ng-disabled="!row.resourceLocation">播放</a></li>
													  </ul>
													</div>
												</td>
											</tr>			
										</tbody>
										<tfoot>
											<tr>
												<td colspan="8" class="text-right">
													<span></span>
													<div tasty-pagination  template-url="../common/angularjs/gtiles_paginatione.html"></div>
												</td>
											</tr>
										</tfoot>
									</table>
								  </div>
							  </div>	
				            </div>	
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>