<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">

				<div class="profile-element" uib-dropdown>
					<img alt="image" class="img-circle" src="../img/profile_small.jpg" />
					<a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">快来学模板库</strong>
                             </span>
                                <span class="text-muted text-xs block">切换皮肤<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a href="../index.html">快来学整体库</a></li>
                        <li><a href="../templatelibrary/index.html">快来学模板库</a></li>
                    </ul>
				</div>
				<div class="logo-element">IN+</div>
			</li>
			<li ng-class="{active: $state.includes('dateComponent')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">时间控件</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dateComponent')}">
					<li ui-sref-active="active">
						<a ui-sref="dateComponent.datatime">
							单个时间
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dateComponent.daterangepicker">
							时间范围
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('treeComponent')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">树</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('treeComponent')}">
					<li ui-sref-active="active">
						<a ui-sref="treeComponent.tree">
							单个树
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="treeComponent.selectTree">
							下拉选择（树）
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('uploading')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">上传</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('uploading')}">
					<li ui-sref-active="active">
						<a ui-sref="uploading.fileuploade">
							文件上传
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('editor')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">富文本</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('editor')}">
					<li ui-sref-active="active">
						<a ui-sref="editor.summernote">
							富文本
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('classify')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">分类</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('classify')}">
					<li ui-sref-active="active">
						<a ui-sref="classify.threeLevel">
							三级分类
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('select')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">下拉</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('select')}">
					<li ui-sref-active="active">
						<a ui-sref="select.uiselect">
							下拉选择
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('tab')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">tab</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('tab')}">
					<li ui-sref-active="active">
						<a ui-sref="tab.uitab">
							tab
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('checkbox')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">全选</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('checkbox')}">
					<li ui-sref-active="active">
						<a ui-sref="checkbox.allchecked">
							全选
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('chart')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">图表</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('chart')}">
					<li ui-sref-active="active">
						<a ui-sref="chart.charts">
							图表
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('tool')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">工具</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('tool')}">
					<li ui-sref-active="active">
						<a ui-sref="tool.tools">
							工具
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('table')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">列表</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('table')}">
					<li ui-sref-active="active">
						<a ui-sref="table.treegrid">
							列表树
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('commonality')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">公共组件</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('commonality')}">
					<li ui-sref-active="active">
						<a ui-sref="commonality.tasty">
							分页
						</a>
					</li>
				</ul>
			</li>
			
		</ul>

	</div>
</nav>